*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;

}
header{
    display: flex;
    justify-content: center;
}
.main-content{
    display: grid;
    margin: 20px auto;
    grid-template-columns: 300px 700px;
    grid-template-rows: 20% 80%;
    min-height: 1000px;
    width: 90%;
}
.left-section{
    grid-area: 1/1/3/2;
    background-color: darkred;
    grid-column: span 1;
    
}
.right-section{
   grid-area: 1/2/3/3;

    /* padding: 30px; */
    background-color: grey;
   
    grid-column: span 1 / span 2;
  
}

.left-content{
    padding: 1rem;
}
.profile img{
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;

}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase ;letter-spacing: 0.02px;
    padding: 0.8rem;
    color: white;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: #0e76a8;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: white;
}
.social-media{
    display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.fa-linkedin-in {
    color: #0e76a8;
  }

.fa-github{
    color: #0e76a8;
} 

.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    color: white
}
.fa-facebook-f {
    color: #0e76a8;
}
.fa-twitter {
 color:#0e76a8;
}
.skills-title {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    color: white;
 }
skill-name{
    color: white;
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
span{
    color: white;
    font-size: 17px;
    padding-left: 5px;
}
.skills h3{
    margin-top: 5px;
    text-align: left;
}
.progress-bar1{
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 100%;
}
.progress-bar2 {
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 90%;
  }
  .progress-bar3 {
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 80%;
  }
  .progress-bar4 {
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 70%;
  }
  .progress-bar5 {
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 60%;
  }
  .progress-bar6 {
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 50%;
  }
  .progress-bar7 {
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 40%;
  }
  .progress-bar8 {
    border: 2px solid white;
    height: 4px;
    border-radius: 2px;
    width: 30%;
  }
  
.right-main-content{
    padding: 2rem 3rem 0 3rem;

}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
/* .right-section{ */
    /* display: grid; */
    /* grid-column: 300px 700px; */
/* } */


@media(min-width : 674px){
    .left-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
}
.profile-details{

        /* color: #60b1f3; */
        margin: 10px 0;
    
}

span {
    color: white;
    font-size: 17px;
    padding-left: 5px;
  }

  a:-webkit-any-link {
 
    color: #60b1f3;
    cursor: pointer;
    text-decoration: underline;
}
.icon ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
} 


.left-section ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.fa-brands{
    font-size: 30px;
    display: flex;
    flex-direction: row;

    
}
.fa-solid span{
    font-size: 10px;
}
.hub{
    display: flex;
    align-self: flex-end;

}